{% extends "base.html" %}

{% block content %}
  <h2 class="title">{{ data.title }}</h2>
  <p>{{ data.descripcion }}</p>


  <p>Esta aplicación ha sido creada para demostrar el uso de <strong>Flask</strong> y <strong>Jinja2</strong> en el desarrollo de aplicaciones web dinámicas.</p>

  <p>Se aprendio a separar la lógica del back-end de la presentación del front-end usando un sistema de plantillas.</p>

  <p>Con el objetivo es facilitar la escalabilidad y el mantenimiento de los proyectos.</p>
{% endblock %}